.text--extra--large {
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    font-size: 48px;
}

.text-large {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
}