.container{
    max-width: 1160px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include responsive(lg){
        max-width: 95vw;
    }
    @include responsive(xs){
        max-width: 100vw;
    }
}